{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "no-confusing-arrow": "off",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
  },
}
